@font-face {
    font-family: 'title';
    font-style: normal;
    font-weight: 400;
}
@font-face {
  font-family: "PingFangSC-Regular";
  src: url("/fonts/PingFangSC-Regular.woff");
}

* {
    outline: none;
}
a {
    color: unset;
    border: unset;
    margin: 0px;
    background-color: unset;
    cursor: pointer;
}
.standard_link{
    color: #8F7844, 100% !important;
}
body, html {
    background-color: #FFF;
    padding: 0;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: "PingFangSC-Regular", Microsoft YaHei, sans-serif;
    font-size: 14px;
}

html{
    height: -webkit-fill-available;
    font-size:100%;
}
body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
    
    overflow-y: auto;
}

.main_container{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background: url("../style/bg.png") ;
    background-size: 100% 100%;
}
/*.main_container::before{
    content: "";
    display: block;
    width: 100%;
    height: 200vh;
    position: absolute;
    left: -37%;
    top: -200px;
    background: #E2E2E2;
    transform: rotate(-15deg);
}*/
.main_content{
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.layout_1200{
    min-width: 1200px;
    width: 1200px;
    max-width: 1200px;
    margin: auto;
}
.main_content > .content_block.left{
    width: 790px;
}
.main_content > .content_block.right{
    width: 410px;
}
.left_content_layout{
    margin: 108px 0 60px;
}
.left_content_layout .logo{
    text-align: center;
    margin-bottom: 39px;
}
.left_content_layout .logo img{
    width: 300px;
}
.sponsor_container{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 49px;
}
.sponsor_container > div{
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: relative;
}
.sponsor_container > div:not(:last-child):after{
    content: "";
    display: block;
    border-right: 0.5px solid #404040;
    position: absolute;
    right: 0;
    top: 50%;
    height: 46px;
    transform: translateY(-50%);
}
.sponsor_container > div img{
    margin-bottom: 8px;
}
.app_download_container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.phone_pic_container{
    position: relative;
    height: 402px;
    
}
.phone_pic_container .phone_1{
    position: absolute;
    left: 0;
    top: 40px;
}
.phone_pic_container .phone_2{
    height: 100%;
}
.app_download_link_container{
    width: 272px;
    margin: 0px auto;
    color: #FFFFFF;
    text-align: center;
}
.app_download_link_content{
    margin-top: 71px;
}
.app_download_link_content .title{
    font-weight: 600;
}
.app_download_link_content .desc{
    margin-top: 8px;
    margin-bottom: 28px;
}
.qrcode_container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 19px;
    flex-direction: column;
}
.qrcode_container > div{
    margin-right: 8px;
}
.qrcode_container .download_text{
    font-weight: 600;
    font-size: 17px;
    margin: 10px 0px;
}
.qrcode_container .download_link a{
    font-weight: 600;
    font-size: 17px;
    color: #FFD7B8;
}
.qrcode_container img{
    width: 100px;
}

.right_content_layout{
    margin: 60px 0 0;
    background: #1F1F1F;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    height: 779px;
    border-radius: 16px;
    padding: 48px 43px 10px;
}
.title_menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.title_menu .title{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding-right: 24px;
    margin-right: 24px;
    border-right: 0.5px solid #8C8C8C;
}
.title_menu .link{
    margin-right: 24px;
}
.title_menu .link:last-child{
    margin-right: 0;
}
.title_menu a{
    font-size: 17px;
    padding-bottom: 2px;
}
.title_menu a.active{
    color: #FFFFFF;
    border-bottom: 2px solid #FFD7B8;
    pointer-events: none;
    font-weight: 600;
}
.app_download_notice{
    text-align: center;
    margin-bottom: 32px;
}
.app_download_guide_container{
    overflow-y: auto;
    height: calc(100% - 65px - 74px);
}
.app_download_guide{
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}
.app_download_guide_img{
    margin-bottom: 32px;
    text-align: center;
}
.app_download_guide_img img{
    max-width: 220px;
}
*::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color: white;
}
*::-webkit-scrollbar-thumb{
    background: #C4C4C4;
    border-radius: 8px;
}