:root{

    --index_banner: url("../style/banner.jpg");
    --index_banner1: url("../style/banner01.jpg");
    --index_banner2: url("../style/banner02.jpg");
    --index_banner3: url("../style/banner03.jpg");
    --index_banner4: url("../style/banner04.jpg");
    --index_banner5: url("../style/banner05.jpg");
    --index_banner6: url("../style/banner06.jpg");
    --index_banner7: url("../style/banner07.jpg");
    --index_banner8: url("../style/banner08.jpg");

    --index_banner_icon: url("../style/banner_icon.png");
    --index_banner_icon_on: url("../style/banner_icon_on.png");

    <!-- --index_bg: url("https://www.9500gg.com/web/css/web/templateimage/bg/img_homepage_bg.png"); -->
    --index_games_bg: url("https://www.9500gg.com/web/css/web/templateimage/homepage/index_games_bg.png");
    --index_sports_bg: url("https://www.9500gg.com/web/css/web/templateimage/homepage/index_sports_bg.png");
    --index_service_icon_bg: url("https://www.9500gg.com/web/css/web/templateimage/homepage/service_logo_bg.png");
    --game_live_bg: url("../style/img_innerpages_bg_live.png");
    --game_sports_bg: url("../style/img_innerpages_bg_sports.png");
    --game_esports_bg: url("../style/img_innerpages_bg_esports.png");
    --game_poker_bg: url("../style/img_innerpages_bg_poker.png");
    --game_lottery_bg: url("../style/img_innerpages_bg_lottery.png");

    --fish_game_name_bg: url("https://www.9500gg.com/web/css/web/templateimage/fish/game_name_bg.png");
    --fish_game_name_bg_hover: url("https://www.9500gg.com/web/css/web/templateimage/fish/game_name_bg_hover.png");

    --slots_all: url("../style/slotlist_tags_all.png");
    --slots_all_a: url("../style/slotlist_tags_all.png");
    --slots_new: url("../style/slotlist_tags_new.png");
    --slots_new_a: url("../style/slotlist_tags_new.png");
    --slots_fav: url("../style/slotlist_tags_favorite.png");
    --slots_fav_a: url("../style/slotlist_tags_favorite.png");

    --vendor_bg: url("../style/bg_fish_gamename.png");
    --vendor_hover_bg: url("../style/bg_fish_gamename_h.png");



}