body, html{
    background: none;
}
body{
    background: var(--index_bg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}
footer{
    bottom: 0;
    z-index: 2;
}

.toggle_text_btn:before{
    height: 30px !important;
}

/** after login slidedown **/
.header_bottom_after_login:hover .header_after_login_slidedown {
    top: -28px;
}
.header_after_login_slidedown {
    background: #1F1F1F;
    color: #FFFFFF;
}

/** Login&Register edit **/
#login_popup .modal-dialog, #forgotpassword_popup .modal-dialog, #register_popup .modal-dialog {
    width: 400px;
    max-width: 400px;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-radius: 0px;
    position: absolute;
    right: 0;
    top: 85px;
    margin-right: 20px;
}
#login_popup .modal-body .login_popup_container, #forgotpassword_popup .modal-body .login_popup_container, #register_popup .modal-body .register_popup_container {
    padding: 30px;
    width: 400px;
    border-radius: 0px; 
    background: #1F1F1F;
    min-height: unset;
}
#login_popup .modal-body .login_popup_content > .content_block:last-child, #forgotpassword_popup .modal-body .login_popup_content > .content_block:last-child {
    width: 100%;
    margin-right: unset; 
}
#login_popup .modal-content:before, #register_popup .modal-content:before{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #1F1F1F;
}
.captcha_hover img {
     min-width:100px!important; 
     max-width: 100px!important; 
}
.login_or_register{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--authentication_tab_bg);
    border-radius: var(--authentication_tab_radius);
    color: var(--authentication_tab_txt);
    border:2px solid var(--authentication_tab_border);
    box-shadow: var(--authentication_tab_shadow),var(--authentication_tab_innershadow);
}
.login_popup_title, .register_popup_title {
    font-size: 18px;
    line-height: 46px;
    font-weight:  var(--authentication_tab_txt_active_weight);
    margin-bottom: unset;
    width:168px;
    background-color: var(--authentication_tab_bg_active);
    border-radius: var(--authentication_tab_radius_active);
    color: var(--authentication_tab_txt_active);
    border: var(--authentication_tab_border_active);
    box-shadow: var(--authentication_tab_shadow_active),var(--authentication_tab_innershadow);
}

.login_popup_gotoregister > div:last-child {
    color: var(--authentication_tab_txt);
    font-size: 18px;
    line-height: 46px;
    font-weight: var(--authentication_tab_txt_weight);
    margin-left: unset;
    width:168px;
    text-align: center;
}
.register_popup_gotologin > div:first-child {
    color: var(--authentication_tab_txt);
    font-size: 18px;
    line-height: 46px;
    font-weight: var(--authentication_tab_txt_weight);
    margin-right: unset;
    width:168px;
    text-align: center;
}
.login_popup_gotoregister:hover, .register_popup_gotologin:hover{
    background-color: var(--authentication_tab_bg_active);
    color: var(--authentication_tab_txt_hover);
}
#login_form input, #register_form input, #forgot_form input {
    border:unset;
    border-bottom: var(--authentication_textfield_borderthick_empty) solid var(--authentication_textfield_border_empty);
    border-radius: var(--authentication_textfield_radius);
    padding: 0px 40px !important;
    font-size: 16px;
}
#login_form input:focus, #register_form input:focus, #forgot_form input:focus {
    border:unset;
    border-bottom: var(--authentication_textfield_borderthick_focused) solid var(--authentication_textfield_border_focused);
    
}
#login_form img.icon, #register_form img.icon, #forgot_form img.icon {
    position: absolute;
    top:12px;
    left:10px;
}
#login_form .login_username img.icon{
    top:92px;
}
#login_form input.captcha, #register_form input.captcha, #forgot_form input.captcha {
    padding-left:40px!important;
}
.captcha_hover {
    border-radius: 2px!important;
}
#login_popup .modal-body .login_popup_container .btn_style, #forgotpassword_popup .modal-body .login_popup_container .btn_style {
     margin-top: 30px;
     height: 60px;
     width: 100%;
     border-radius: 2px;
}
#register_form .btn {
    margin-top: 30px;
    height: 60px;
    width: 100%;
    border-radius: 2px;
}
.label-cbx .checkbox {
    display: flex;
    align-content: center;
    align-items: center;
}
.label-cbx .checkbox label {
    margin-bottom: 20px;
}
.label-cbx .checkbox label {
    margin: 5px 7px 0px 0;
}
.form_inline {
    margin-top: 20px;
}

.form_inline a img{
    margin-right: 9px;
}

.forgot_icon{
    background: var(--forgot_icon);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.remember_me .label-cbx > div {
    color: var(--select_remember_password_txt_unchecked);
    font-weight: var(--select_remember_password_weight_unchecked);
}

#login_popup.modal, #register_popup.modal{
    min-width: 1000px;
    max-width: 1620px;
    margin: 0px auto;
    align-content: center;
    position: fixed;
    left:0;
    right:0;
}

/** Homepage edit **/
.header_top_outside{
    height: auto;
    padding: 5px 0;
}
.header_top{
    padding: 0px 30px;
}
.header_menu_item:hover {
    color: #fff;
    font-weight: unset;
}

.header_login{
    background: unset;
    /*border: 1px solid #fff;
    border-radius: 18px 0px 0px 18px;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    /*min-width: 60px;*/
    min-width: unset !important;
    align-items: center;
    display: flex;
    padding-right: 5px;
}

.header_register{
    /*border: 1px solid #fff;*/
    box-sizing: border-box;
    /*border-radius: 0px 18px 18px 0px;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    /*min-width: 60px;*/
    min-width: unset !important;
    align-items: center;
    display: flex;
    padding-left: 5px;
}

.header_bottom_last {
    display: flex;
    align-items: center;
    width: auto;
    /*width: fit-content;*/
    justify-content: flex-end;
    white-space: nowrap;
    margin-left: auto;
    height: 100%;
}
.header_bottom_item {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--navbar_sub_txt);
    text-align: center;
    margin-right: 25px;
    align-items: center;
    display: flex;
    height:100%;
}
.header_bottom_last .header_bottom_item:hover{
    color: #fff;
}

.header_login_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    color: var(--nav_sub_txt);
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.before_login_container{
    justify-content: center;
    border: 1px solid #666;
    border-radius: 18px;
    width: 100px;
}

.header_login_part > div, .header_login_part > a {
    display: flex;
    align-items: center;
    text-align: center;
    /*height: 100%;*/
    height: 33px;
    white-space: nowrap;
    padding: 0px 4px 0px 8px;
    color: var(--navbar_sub_txt);
}

.header_login_part > div, .header_login_part > a {
    margin-left: 0;
}

.header_login_part .slash_text {
    color: #ffffff;
}

.header_bottom_logo {
    margin-right: unset;
    height: 80px;
    text-align: center;
    width: 217px;
}

.header_bottom {
    padding: 0px 20px;
    height: 110px;
    max-width: 1620px;
    margin: 0 auto;
}
.header_menu_item {
     color: #fff;
     font-size: 16px;
     padding: 0px 15px;
}
.header_menu_dropdown .left .text .more > div{
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .header_menu_item {
     padding: 0px 10px;
    }
    .header_menu_dropdown .left .text .more > div {
     padding-left: 10px!important;
    }
}
@media screen and (max-width: 1400px) {
    .header_menu_item {
     padding: 0px 5px;
    }
    .header_menu_dropdown .left .text .more > div {
     padding-left: 5px!important;
    }
    .header_bottom_item {
        margin-right: 15px;
    }
   
    #login_popup .modal-dialog, #forgotpassword_popup .modal-dialog, #register_popup .modal-dialog {
    right: 20px;;
    }
}
@media screen and (max-width: 1300px) {
    .header_menu_item {
     padding: 0px 4px;
    }
    .header_menu_dropdown .left .text .more > div {
     padding-left: 4px!important;
    }
    .header_bottom_item {
        margin-right: 12px;
    }
}

@media screen and (max-width: 1200px) {
    .header_menu_item {
     padding: 0px 2px;
    }
    .header_bottom_item {
        margin-right: 10px;
    }
}
.header_dropdown_position{
    width:65%;
}
.header_menu_dropdown .left .text > div {
    display: flex;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
.header_menu_dropdown .left .text .more > div {
    margin-right:80px;
    font-size: 14px;
    line-height: 60px;
    padding-left: 15px;
    width: 6%;
    text-align: left;
}
.header_menu_dropdown .left .text .more > div:hover {
   color:#FFD7B8;
}
.header_menu_dropdown .left .text {
    width: 100%;
    display: flex;
    justify-content: left;
}
.header_menu_dropdown .left {
    width: 100%;
}

.header_bottom_medium {
    justify-content: center;
    /*max-width: 700px;*/
    margin-left: auto;
    width: 50%!important;
}

.header_bottom_after_login{
    min-width: unset!important;
    width: auto;
}

.header_menu_item a img{
	width:14px;
   /* margin-left: -5px;*/
}

.header_menu_item:hover>a:before {
    width: 31px;
    height: 3px;
    position: absolute;
    bottom: 0;
    background: #FFD7B8;
    content: "";
}

.header_menu_item:hover .header_menu_dropdown {
	height:60px;
}

.header_menu_dropdown {
	background: #1F1F1F;
}

.header_menu_item[data-varcount="7"] .header_menu_dropdown {
    /*min-height: unset;*/
    min-height: 60px;
    height: auto;
}

.footer_link > .content_block {
	text-align: left; 
    display: flex;
    color:#b4b4b4;
    margin-bottom: 10px;
}
.footer_link > .content_block a:hover {
    color:#fff;
}
.footer_link > .content_block div a {
	padding: 0 14px;
	border-right: 1px solid #b4b4b4;
    font-size: 14px;
}
.footer_link > .content_block div:first-child a {
	padding-left: 0; 
}
.footer_link > .content_block div:last-child a {
	border-right:none; 
}
.footer_link > .content_block:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer_link > .content_block > .with_icon{
	display: flex;
	margin-top: 36px;
	position: absolute;
}
.with_icon > div:hover div {
    border: 1px solid #333;
}
.with_icon > div div {
    height: 41px;
}
.with_icon > div > div img {
    width: 40px;
    height: 40px;
}
.with_icon > div {
	margin: 0;
    height: 42px; 
    line-height: 38px;
    margin-left: 10px;
}
.with_icon > div div .txt span {
    margin: 0 20px;
    color: #fff;
}
.footer_copyright {
    text-align: left;
    margin:unset;
    color: var(--footer_copyright_txt);
    font-weight: var(--footer_copyright_weight);
    font-size: 14px;
    padding: 10px 0;
}
.footer_area {
    background: var(--footer_background);
    color: var(--white-color);
    padding: 30px 0;
    font-size: 12px;
    height:110px;
}
.footer_area .footer_width {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1620px;
}
.with_icon > div:hover {
    width: 210px;
}

.header_bottom_last .header_bottom_icon img{
    width:20px;
    margin-bottom: 6px;
}


.header_bottom_last .header_bottom_item .jsBox {
    padding: 10px 25px 12px;
    width: 225px;
    position: absolute;
    top:100%;
    margin-left: -100px;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    background: #1F1F1F;
    z-index: 1;
}
.header_bottom_last .header_bottom_item.jsBox_vip .jsBox {
    width: 150px!important;
    margin-left: -57px;
}
.header_bottom_last .header_bottom_item.jsBox_promo .jsBox {
    width: 160px!important;
    margin-left: -68px;
}
.header_bottom_last .header_bottom_item .jsBox:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-bottom: 8px solid #1F1F1F;
}

.jsBox ul{
    padding: 0;
    list-style: none;
}

.jsBox li a {
  margin-bottom: 15px;
  text-decoration: none;
  list-style: none;
  display: block;
  text-align: left;
  color: #b4b4b4;
}
.jsBox li:hover a {
  color: #fff;
}

.jsBox li a img {
    margin: -3px 10px 0 0;
    vertical-align: middle;
}

.header_bottom_last .header_bottom_item:hover .jsBox {
    opacity: 1;
    visibility: visible;
}
.index_banner_area {
    height: 100%;
    padding-bottom: 0px;
}
#index_banner .swiper_button_area {
    width: unset;
}
#index_banner .swiper-button-prev, #index_banner .swiper-button-next{
    position: fixed;
    top: 49%;
    bottom: 50%;
}
#index_banner .swiper-button-next {
    right:20px;
}
#index_banner .swiper-button-prev {
   left:20px;
}
#index_banner .swiper-slide {
    min-height: calc(100vh - 110px - 110px);
    height: auto;
    text-align: left;
    justify-content: left;
}

#index_banner .swiper-slide div.btn{
    padding:0;
    margin-left: unset;
}

.marquee_area{
    display: none!important;
}
.banner {
    position: relative;
    background: var(--index_banner) no-repeat;
    background-position: 50% 0px;
    background-size: cover;
}

.banner1 {
    position: relative;
    background: var(--index_banner1) no-repeat center;
    background-position: center top;
    background-size: cover;
}
.banner2 {
    position: relative;
    background: var(--index_banner2) no-repeat center;
    background-size: cover;
}
.banner3 {
    position: relative;
    background: var(--index_banner3) no-repeat center;
    background-size: cover;
}
.banner4 {
    position: relative;
    background: var(--index_banner4) no-repeat center;
    background-size: cover;
}
.banner5 {
    position: relative;
    background: var(--index_banner5) no-repeat center;
    background-size: cover;
}
.banner6 {
    position: relative;
    background: var(--index_banner6) no-repeat center;
    background-size: cover;
}
.banner7 {
    position: relative;
    background: var(--index_banner7) no-repeat center top;
    background-size: cover;
}
.banner8 {
    position: relative;
    background: var(--index_banner8) no-repeat center top;
    background-size: cover;
    background-position-y: 33%;
}
#index_banner .swiper-slide img {
    -webkit-transition: unset!important; 
    -o-transition: unset!important;
    transition: unset!important; 
    border-radius: unset!important; 
}

.txtBox p {
    margin: 36px 0 40px;
    width: 451px;
    color: #c7c7c7;
    font-size: 22px;
    line-height: 2;
    font-weight: 100;
    letter-spacing: 1px;
}
.txtBox, .txtBox div {
    height: auto;
    margin-left: 8.5%;
}

.txtBox .btn a {
    padding-left: 30px;
    display: block;
    width: 242px;
    height: 60px;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    line-height: 58px;
    text-align: center;
    background: rgba(0,0,0,0.2) var(--index_banner_icon) no-repeat left 49px center;
    border: 1px solid rgba(255,255,255,0.2);
    box-sizing: border-box;
}
.txtBox .btn a:hover {
    color: #ffd7b8;
    background-image: var(--index_banner_icon_on);
    border: 1px solid #ffd7b8;
}

.more_game_area, .more_game_area.sports, .more_game_area.esports, .more_game_area.lottery, .more_game_area.poker {
    background-size: unset;
    background-position: center top;
    /* height: 860px; */
    height: auto;
    min-height: 860px;
    background-blend-mode: multiply;
}

.more_game_text {
    padding: 85px 0 0;
    width: 484px;
    min-height: 835px;
    float: right;
    box-sizing: border-box;
}

.more_game_content{
    padding: 25px 0 0;
}
.more_game_content img.phone{
    width: 100%;
}
.more_game_category{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0 -25px 50px 0;
}
.more_game_category > div{
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    float: left;
}
.more_game_category > div:last-child{
    margin-right: 0;
}
.more_game_category > div img{
    margin-bottom: 4px;
}
.more_game_item{
    padding: 0;
    margin: 0;
    border-radius: unset;
    font-size: 16px;
    width: 121px;
    height: 121px;
    float: left;
    box-sizing: border-box;
}
.more_game_item div:last-child{
    padding-top: 0;
}
.more_game_item > div:first-child{
    background: unset;
    box-shadow: unset;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: none;
  }
.more_game_item img{
    width: 100%;
    height: 100%;
    max-width: 56px;
    max-height: 56px;
    /* min-width: 88px; */
    border: 1px solid transparent;
}
.more_game_items {
    margin-top: 0;
}
.more_game_items > a:hover .more_game_item {
    border: var(--innerpages_card_hover_borderthick) solid var(--innerpages_card_hover_border);
    position: relative;
    border-radius: unset;
}
.more_game_items > a{
    font-weight: 600;
    font-size: 17px;
    color: #141414;
    margin-right: 0;
    margin-bottom: 0;
	color:#fff;
}

.more_game_text .text {
    font-size: 16px;
    color: #969696;
    margin-bottom: 42px;
}

.more_game_text .title {
    margin: 0 0 40px;
}

.more_game_content .layout_1200 > .content_block:last-child {
    box-sizing: border-box;
}

.floating_menu {
    left:unset!important;
    right:3%!important;
    top: calc(50%)!important;
}

.aboutus_bg {
    background: var(--footer_sidenav_bg);
    padding: 50px 0;
    margin: -50px 0;
}

.aboutus_container {
    padding: 10px;
}

.abountus_guide_content > .guide_a.active, .abountus_guide_content > a, .abountus_business_content > .business_a.active, .abountus_business_content > a {
     padding-left: 25px !important; 
}

.abountus_guide_content > .guide_a.active, .abountus_guide_content > a:hover, .abountus_business_content > .business_a.active, .abountus_business_content > a:hover {
    padding-left: 25px !important;
}

.abountus_guide_content > .guide_a {
    padding-left: 25px;
}

.aboutus_left {
    width: 260px !important;
    border-radius: 1px !important;
    font-weight: normal !important;
    padding: 10px 20px 58px !important;
    line-height: 80px !important;
    font-size: 18px !important;
}

.abountus_guide_content, .abountus_business_content {
    line-height: 30px !important;
    font-size: 16px !important;
    border-bottom: 0.5px solid var(--footer_sidenav_divider);
}

.abountus_guide_content, .abountus_business_content {
    padding-left: 0 !important;
}

.aboutus_left_content {
     padding: 0 !important; 
}

.aboutus_left_content .arrow img {
    width: 18px;
}

.innerpage .index_banner_area {
    overflow: visible;
}

.promo_layout_container, .slot_layout{
    margin-top: -481px;
}

.promo_layout_container.gotop_area,
.slot_layout.gotop_area{
    transform: translateY(-50px)!important;
}


.promo_inner{
    background: var(--promo_bg);
}

.promo_list_area {
    padding: 20px 30px;
}

.gotop_area .promo_list {
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    color:var(--txt_general);
}

.promo_tab{
    justify-content: center;
    border-bottom: 1px solid var(--card_1_border);
    margin-top:unset !important;
}

.promo_list > .block_content .type{
    color:var(--promo_categories_default_txt);
}

.promo_list > .block_content > .card_container > .left_block{
    border-right: 0.5px solid var(--promo_divider);
}

.promo_icon {
    /*min-width: 19px !important;
    width: 19px !important;
    height: 20px !important;*/
}

.game_innerpage{
    background: var(--game_page_bg);
}

.promo_tab, .slot_tab {
    display: flex;
    flex-wrap: wrap !important;
}

.promo_list > .block_content .type img{
    width: 19px !important;
}

.slot_layout{
    background: var(--card_1_bg);
    padding: 41px 29px 22px;
    border: 1px solid #282828;
    transform: translateY(-30px);
    /*border: 1px solid var(--card_1_border);*/
}
 
.slot_tab > .content_block{
    justify-content: center;
    margin: 0 35px 30px 0 !important;
}

.slot_tab > .content_block:hover, 
.aboutus_tab > .content_block:hover, 
.slot_tab .block_content a:hover, 
.aboutus_tab .block_content a:hover{
    justify-content: center;
}

#promo_banner .swiper-slide img,
#slot_banner .swiper-slide img,
#fish_banner .swiper-slide img{
    /*overflow: hidden;*/
    /*transform: scale(1.3);
    margin-top: 100px;*/
    background-repeat: no-repeat;
    background-position: center top;
}

.index_banner_area .fallback.large{
    background-size: unset !important;
} 

.slot_tab {
    /*margin-bottom: 30px !important;*/
    margin-top: unset !important;
    padding: 0px 0px 10px !important;
    /*border-bottom: 1px solid var(--card_1_border);*/
    margin: 0 -35px 0px 0 !important;
}

.game_search_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.game_search_container input{
    padding: unset !important;
}

.game_search_container .select2{
    width: 359px !important;
    margin: unset !important;
}

.game_search_container .textbox_content[class*="icon-"]:before, .textbox_content[class*="ico-"]:before{
    top: 40% !important;
    -webkit-transform: translateY(-40%) !important;
    -ms-transform: translateY(-40%) !important;
    transform: translateY(-40%) !important;
}

.game_search_container label{
    margin-bottom: unset !important;
    margin-right: 10px;
}

.game_search_container .select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple{
    padding: 0px 0px 0px 45px !important;
    min-height: 50px;
    color: #fff !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
}

.game_search_container .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding-left: 5px !important;
}

.game_search_container .select2-container .select2-search--inline .select2-search__field{
    margin-top: 13px !important;
}

.game_search_container .textbox_content[class*="ico-"] input{
    padding: unset !important;
}

.game_search_container .select2-container--default .select2-selection--multiple .select2-selection__choice{
    height: 26px !important;
    align-items: center !important;
    display: flex;
    margin-top: 10px !important;
    border: unset !important;
    padding: 0px 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: #ffffff !important;
    color: #000000 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #000000 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear{
    padding-top:6px;
}

.slot_list_area, .slot_list{
    background: unset !important;
}

.slot_layout .filter_tag_container{
    justify-content: space-between;
}

.slot_layout .filter_tag_container > div:first-child,
.filter_tag_container > div:last-child{
    width: unset !important;
}

.slot_list li:hover .img:after {
    width: 100%;
    height: 100%;
    background: black;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 1;
}

.promo_tab > .content_block{
    width: 200px;
    height: 59px;
    border: 1px solid var(--vendor_categories_default_border);
    margin-bottom: 20px !important;
    justify-content: center;
}

.slot_tab > .content_block{
    width: 200px;
    height: 59px;
    border: 1px solid var(--vendor_categories_default_border);
}

.slot_tag .tag{
    color: var(--tagfilter_default_txt) !important;
    padding: 10px 10px !important;
}
.slot_tag .tag:hover{
    border: var(--tagfilter_hover_borderthick) solid var(--tagfilter_hover_border) !important;
    color: var(--tagfilter_hover_txt)!important;
}

.tag[data-tab="0"]:before {
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background: var(--slots_all);
    background-repeat: no-repeat;
    background-size: 90%;
    margin-right: 5px;
    background-position: center;
}

.tag[data-tab="2"]:before {
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background: var(--slots_new);
    background-repeat: no-repeat;
    background-size: 90%;
    margin-right: 5px;
    background-position: center;
}

.tag[data-tab="3"]:before {
    display: block;
    content: '';
    width: 23px !important;
    height: 23px !important;
    background: var(--slots_fav)!important;
    background-repeat: no-repeat !important;
    background-size: 90% !important;
    margin-right: 5px !important;
    background-position: center;
}

.filter_tag_container{
    align-items: center !important; 
}

.slot_list_area{
    padding: 30px 0px 0px !important;
    border-top: 1px solid #282828;
    border-radius: unset !important;
}

.slot_game_item .thumb{
    width: auto !important;
    border: var(--gamelist_card_borderthick) solid var(--gamelist_card_border);
    border-radius: var(--gamelist_card_radius);
    box-shadow: var(--gamelist_card_shadow);
}

.slot_game_item .thumb:hover{
    border: var(--gamelist_card_hover_borderthick) solid var(--gamelist_card_hover_border);
    box-shadow: var(--gamelist_card_hover_shadow);
}

.slot_game_item .thumb img{
    border-radius: var(--gamelist_card_radius) !important;
}

.slot_list li{
    background: unset !important;
}

.slot_game_item .text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--gamelist_txt) !important;
    padding-top: 20px;
}

.slot_list .hotgame{
    position: unset !important;
    padding: unset !important;
    padding-right: var(--gamelist_hot_padding) !important;
}

.slot_list .hotgame img{
    width: 16px;
}

.vip_layout{
    background: var(--vip_page_bg);
}

.vip_type_container{
    background: var(--vip_categories_bg) !important;
    border-radius: var(--vip_categories_radius) !important;
    border: 1px solid var(--vip_categories_border);
}

.vip_type_container > .text{
    color: var(--vip_categories_default_txt);
}

.vip_type_container .vip_type_list > .block_content,
.vip_type_container .vip_type_list > .block_content.active{
    border-radius: var(--vip_categories_radius) !important;
}

.vip_list_btn .progress{
    background: var(--vip_tab_handle_fill);
    border: var(--vip_tab_handle_borderthick) solid var(--vip_tab_handle_border);
    box-shadow: var(--vip_tab_handle_shadow);
}

.vip_item .icon{
    background-color: var(--vip_card_circle_inactive) !important;
    border: 1px solid var(--vip_card_circle_border_inactive);
}

.vip-swiper-container .swiper-slide.swiper-slide-active .vip_item .icon{
    background-color: var(--vip_card_circle_active) !important;
    border: 1px solid var(--vip_card_circle_border);
}

.vip_group_list{
    color: var(--vip_tab_txt_normal) !important;
}

.vip_group_list > div.active{
    border-bottom: 1px solid var(--vip_tab_divider) !important;
}

.vip_item .table2 {
    color: var(--vip_page_content);
}

.myvip_all_list{
    background: var(--vip_subnav_card_bg);
    border: 1px solid var(--vip_subnav_card_border);
    box-shadow: var(--vip_subnav_card_shadow) !important;
}

.myvip_all_list > .block_content{
    background: var(--vip_subnav_bg_active) !important;
    border-radius: unset !important;
}

.myvip_all_content_table_container{
    background: var(--vip_subnav_card_bg);
}

/*.myvip_all_content_table tbody td{
    color: var(--vip_table_content);
}
.myvip_all_selected_header{
    background: var(--vip_table_header_bg);
    border-bottom: 1px solid var(--vip_table_header_divider) !important;
    color: var(--vip_table_header);
}

.myvip_all_content_table thead th:first-child, .myvip_all_content_table tbody td:first-child{
    background: var(--vip_table_header_bg)!important;
}

.myvip_all_content_table thead th.special,
.myvip_all_content_table thead th.sub_special{
    background: var(--vip_table_header_bg) !important;
    color: var(--vip_table_header) !important;
}

.myvip_all_content_table thead th.divider, .myvip_all_content_table tbody td.divider{
    border-right: 1px solid var(--vip_table_header_divider) !important;
}

.myvip_popup_rules_container{
    background: var(--vip_subnav_card_bg) !important;
    color: var(--vip_table_rules)!important;
}*/

.style2 .modal-header .title .icon {
     background: unset;
}

.btn.btn_minor.more_announcement_btn {
    display: flex;
    align-content: center;
    justify-content: center;
}

.more_announcement_btn a {
    border-radius: 8px;
    border: unset!important; 
    padding: unset!important; 
}

.modal-body .btn.btn_minor.more_announcement_btn {
    height: unset; 
}

.modal-body .btn:hover {
    color: var(--btn_minor_hover_txt);
}

.button_full_alt{
    border-radius: 4px !important;
}

.message_container {
    background: var(--profile_table_bg);
    border-radius: 16px;
}

.promo_status_list .clear_mission {
    border-radius: 0px;
}

.promo_status_list .clear_mission .button_area {
    padding: unset;
}

.slot_list_area .slot_fish_list{
    margin-right: -30px;
}

.slot_fish_list.large li{
  width: 360px !important;
  min-height: 220px !important;
  margin-right: 30px !important;
}

.slot_fish_list.large li img{
    width: 100%;
}

.slot_fish_list.large li > a {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 0px !important;
    border: 5px solid #282828;
    width: 360px !important;
}

.slot_fish_list.large li > a:hover{
    border: 5px solid #ffffff;
}

.slot_fish_list.large li > a > div:first-child{
    border-radius: unset !important;
}

.slot_fish_list.large .slot.join_now_btn{
    display: none !important;
}

.slot_fish_list.large li > a .slot_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    font-size: 36px;
    height: 100%;
    margin-top: 0;
    z-index: 2;
}



.slot_fish_list.large li > a .slot_title > div {
    display: flex;
    position: absolute;
    top: unset !important;
    left: 0;
    bottom: -10px !important;
    width: 100%;
    height: 55px !important;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    background: var(--vendor_bg) center no-repeat!important;
    align-items: center;
    color: #ffffff;
    transform: none !important;
    -webkit-transform: rotate(0deg)!important;
    -ms-transform: rotate(0deg) !important;
    justify-content: center;
    align-items: center;
    font-weight: normal !important;
}

.slot_fish_list.large li > a:hover .slot_title > div{
    display: flex;
    position: absolute;
    top: unset !important;
    left: 0;
    bottom: -10px !important;
    width: 100%;
    height: 55px !important;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    background: var(--vendor_hover_bg) center no-repeat!important;
    align-items: center;
    color: #000000;
    transform: none !important;
    -webkit-transform: rotate(0deg)!important;
    -ms-transform: rotate(0deg) !important;
    justify-content: center;
    align-items: center;
    font-weight: normal !important;
}

.slot_fish_list.large li:hover img{
    filter: unset !important;
}

.bankcard_card_container{
    border-radius: 4px !important;
}

.bankcard_card_container .detail{
    color: #FFFFFF;
}

.icon-eye_close:before {
    content: "\e942";
    color: #717171 !important;
}

.icon-eye_open:before {
    content: "\e943";
    color:#ffffff;
}

.bankcard_card_container .add_bankcard {
     color: #000000; 
}

.bankcard_card_container .add_bankcard:active {
    background: var(--btn_major_hover_bg);
    font-weight: 600;
}

.announcement_message{
    color: var(--announcement_menu_subtitle) !important;
}

.announcement_title{
    color: var(--announcement_menu_title) !important;
}

.toasted .alert_msg_header {
    padding: 20px 30px !important;
}

.toasted .ico-alert-warning:before, 
.toasted .ico-alert-info:before,
.toasted .ico-alert-success:before,
.toasted .ico-alert-error:before,
.toasted .ico-alert-process:before{
    background-repeat: no-repeat !important;
}

.ico-alert-success:before, .ico-alert-warning:before, .ico-alert-error:before, .ico-alert-process:before, .ico-alert-info:before {
    width: 65px !important;
    height: 65px !important;
    background-repeat: no-repeat !important;
}

/*.alert_msg.active.delay {
    top: 20% !important;
}
*/
.alert_msg.delay.toasted{
    top:20% !important;
}

.view_to_top{
    bottom:70px !important;
}

.promo_model_content{
    border:unset!important;
}

.promo_swiper_button_area .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 23px !important;
    right: auto;
}

.promo_swiper_button_area {
    display: block !important;
}

.promo_model_content .swiper-button-next, 
.promo_model_content .swiper-button-prev {
    background: none !important;
}

/*.style2 .modal-content{
    border: unset !important;
}*/

.promo_model_content .modal-body{
    border: var(--card_1_borderthick) solid var(--card_1_border);
    border-radius: 0px !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1F1F1F inset !important;  
    -webkit-text-fill-color: #FFFFFF!important;
}

.profile_body_container{
    margin-bottom: 30px;
}

.select2-container--default .select2-selection--single {
     background-color: unset !important; 
     border: 1px solid #aaa !important;
     border-radius: 4px !important;
}

span.select2-dropdown.select2-dropdown--below {
    color: var(--bankcard_number_show_txt) !important;
    background: var(--dialog_bg-alt);
}

.select2-container--open .select2-selection--single {
    border: 1px solid #aaa !important;
}

.transfer_select_container > select > option {
    background: #000000;
}

.transfer_select_container > select > option:hover {
    background: #FFD7B8 !important;
}

.select2-dropdown{
    background: #121212 !important;
    border: 1px solid #121212 !important;
    color: #969696 !important;
}

.select2-container--default .select2-results__option[aria-selected=true]{
    background: #FFD7B8 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: #FFD7B8 !important;
}

.select2-container--default .select2-results__option:hover{
    background: #FFD7B8 !important;
}

.selection_style {
    padding-left: unset;
}

.feedback_select_bg > ul li { 
    list-style-type: none;
    width: 100%;
    padding: 10px 16px;
}

.feedback_select_bg {
    box-shadow: var(--general_textfield_innershadow_empty);
    background: var(--footer_card_bg);
    border-radius: 8px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.init {
    background-color: var(--general_textfield_bg_empty);
    color: #a7a2a2;
    border: var(--general_textfield_borderthick_empty) solid var(--general_textfield_border_empty);
    box-shadow: var(--general_textfield_innershadow_empty);
    border-radius: 8px;
    font-size: 14px;
}

.feedback_select_bg > ul li:not(.init) { 
    float: left; 
    display: none;  
}
.feedback_select_bg > ul li:not(.init):hover, ul li.selected:not(.init) { 
    background: unset;
    cursor: pointer;
}

.feedback_select_bg > ul li:not(.init):hover, ul li.selected:not(.init)::after {
   content: "";
   background: #ffd7b8;
   color: #000000;
}

.feedback_select_bg > li.init { 
    cursor: pointer; 
}

.feedback .right_content_body {
     padding-right: unset; 
}

.selection_style li {
    border-left: var(--general_textfield_borderthick_empty) solid var(--general_textfield_border_empty) !important;
    border-right: var(--general_textfield_borderthick_empty) solid var(--general_textfield_border_empty) !important;
}

.transfer_select_container > select option:hover {
  background: #FFD7B8 !important;
  color: #000000;
}

.slot_tab .content_block.active span img:nth-child(2) {
    display: block;
}

.slot_tab .content_block.active span img:nth-child(1) {
    display: none;
}

.main_area, .layout_1920{
    max-width: 100%!important;
}

#index_banner .swiper-slide {
    max-width: unset!important;
}

#province_city_popup.active {
    background: var(--popup_general_bg) !important;
}

#province_city_popup .name_item {
    padding: 10px 15px !important;
}

#province_city_popup .name_item:hover {
    background: #FFD7B8 !important;
    color: #000000;
}

.promo_tab > .content_block, .slot_tab > .content_block {
    font-size: 16px!important;
    font-weight: 400!important;
}

.right_content_body {
    color: #b4b4b4 !important;
}

.right_content_body .block_content > .question .title{
    color:#ffffff;
}

.right_content_header span{
    color:#ffffff !important;
}

.bpc_selection {
    border: var(--general_textfield_borderthick_empty) solid var(--general_textfield_border_empty) !important;
    background: var(--general_textfield_bg_empty) !important;
}

.slot.join_now_btn{
    cursor: pointer;
}

.modal-dialog .modal-content .modal-header {
    /*background: #1F1F1F;*/
    background: #121212;
}

.modal-dialog .modal-content .modal-body {
    min-height: 400px;
    max-height: 800px;
    overflow: hidden;
    overflow-y: auto;
}

.single_announcement_message {
    padding-left: 35px !important;
    margin-top: 20px !important;
}

.normal_announcement_content li {
    padding: 16px 0 0 32px !important;
}

.window_popup .withdrawal_left {
    background-color: #121212;
}

#promo_details_popup .modal-header {
    border-bottom: solid 1px #f1f4fd !important;
}

#promo_details_popup .close {
    color: #FFFFFF;
}

#promo_details_popup .modal-content {
    color: #FFFFFF;
    border: var(--treasure_popup_borderthick) solid var(--treasure_popup_border) !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 25%);
    border-radius: 0px;
}

#promo_details_popup .modal-body {
    font-size: 14px;
    padding: 3rem;
    background: var(--popup_header_bg) !important;
}

#promo_details_popup #nav-promoboxdetails-tab {
    color: var(--popup_header_enabled_txt) !important;
    position: absolute;
    background: var(--popup_header_bg) !important;
    font-size: 17px;
}

#promo_details_popup #promo_register_now_apply {
    margin: 0 auto;
    width: 30% !important;
    display: flex;
    justify-content: center;
    padding: 8px;
}

#promo_details_popup #promo_register_now_apply:hover {
    font-weight: 600 !important;
}

.promo_next_previous{
    display: flex !important;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.promo_btn_next,
.promo_btn_prev{
    margin: 10px;
    padding: 8px 20px;
    background: var(--btn_minor_enabled_bg);
    border: var(--btn_minor_enabled_borderthick) solid var(--btn_minor_enabled_border);
    color: var(--btn_minor_enabled_txt);
    border-radius: 24px;
    font-size: 14px;
    line-height: 18px;
    width: 180px;
    height: 44px;
}

#index_banner .swiper-button-next {
    background: var(--homepage_banner_arrow_right) !important;
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 36px;
}

#index_banner .swiper-button-prev {
    background: var(--homepage_banner_arrow_left) !important;
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 36px;
}

.jsBox li a img {
    width: 18px;
    height: 18px;
}

.floating_img1{
  position: fixed; 
  right: 9%;
  bottom: 120px;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.floating_img1_close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.floating_img1_close img {
  width: 24px;
  cursor: pointer;
}
.floating_image img{
  width: 128px; cursor: pointer;
}

#sample_popup .modal-dialog .modal-content .modal-body {
    overflow-y: hidden!important;
}

#web_normal_announcement_popout .modal-dialog {
    max-width: 1134px;
    min-width: 1134px;
    width: 1134px;
}

.announcement_date, .single_announcement_date{
    display: none;
}